

/* - - - - - - - - VARIABLES - - - - - - - - */
:root {
  --white: #FFFFFF;
  --black: #000000; 
  --highlight: #F6BD36;
  --light: #8eb2a2;
  --medium: #427B89;
  --mdark: #2c496d;
  --dark: #011018;
  overflow-x: hidden;
}

// Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
// @media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
// @media (min-width: 992px) { ... }

// X-Large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }

// XX-Large devices (larger desktops, 1400px and up)
// @media (min-width: 1400px) { ... }

// - - - - - - - - - -

// XXX-Larger devices 
// @media (min-width: 2000px) { ... }

// XXXXL devices 
// @media (min-width: 2800px) { ... }

// XXXXXL devices ?????
// @media (min-width: 3200px) { ... }








/* - - - - - - - - CSS GÉNÉRAL - - - - - - - - */

/* body {
  font-family: 'Gothic A1', sans-serif;
}

h1 {
  font-family: 'Crimson Text', serif;
  font-weight: bold;
}

h2 {
  font-family: 'Crimson Text', serif;
  font-weight: bold;
}

h3, h4, h5 {
  font-family: 'Gothic A1', sans-serif;
  font-weight: bold;
}

nav {
  font-family: 'Crimson Text', serif;
} */